*libprotobuf.a filter=lfs diff=lfs merge=lfs -text
*opencv_core.a filter=lfs diff=lfs merge=lfs -text
*opencv_dnn.a filter=lfs diff=lfs merge=lfs -text
*opencv_imgproc.a filter=lfs diff=lfs merge=lfs -text
ios/lib/libopencv.a filter=lfs diff=lfs merge=lfs -text
